{%  extends 'base.html' %}

{%  block title %}{{  post.title_tag }}{%  endblock %}


{%  block content %}



<h1>Post</h1>
<u1>
{% for post in object_list %}
    <h3><a href="{%  url 'article-detail' post.pk %}">{{  post.title }}</a></h3>
        <small>
        {{  post.author.first_name }}
        {{  post.author.last_name }}
        {{ post.post_date }}
        </small>
        <br/>


        <small>

            <a href="{%  url 'update_post' post.pk %}">(Edit)</a>
            <a href="{%  url 'delete_post' post.pk %}">(Delete)</a>
        </small> <br/>
        {{  post.body }}<br/><hr>
{% endfor%}
</u1>

{%  endblock %}